body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

.titulo{  
    width: 100%;                              
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 47px;
}

.conteiner{
    display: flex;
    justify-content: center;
    max-width: 1110px;
    width: 100%;
    flex-wrap: wrap;
    gap: 34px;
    margin: auto;
}

.carta{
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    border: solid 1px #99CEA8;
    border-radius: 5px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
  }
  
  /*frente*/
  .papagaio {
    width: 100px;
    height: 100px;
    z-index: 2;
  }
 
  /*define o tamanho dos gifs*/
  .parrots {
    width: 100px;
    height: 100px;
  }
  

  /*efeito rotação*/
  .verso {
    transform: rotateY(180deg);
  }
  
  .carta.click .verso {
    transform: rotateY(0deg);
  }
  
  /*desvira a carta*/
  .carta.click .frente {
    transform: rotateY(-180deg);
  }


  /*Responsividade mobile*/

  @media (max-width: 365px){
    .conteiner{
      width: 100%;
      margin: auto;
    }

    .titulo{
      font-size: 36px;
      font-weight: 700;
      line-height: 42px;
      text-align: center;
    }
  }