body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

.titulo{  
    width: 100%;                              
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
}